@import '~bootstrap/scss/bootstrap';

.app {
    display: flex;

    .appContainer{
        // background-color: lightcoral;
        flex: 6;
    }
 
   font-family: "Helvetica Neue", Helvetica, sans-serif;

    .title {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
    }
}