@import '~bootstrap/scss/bootstrap';

.app {
    display: flex;
    font-family: "Helvetica Neue", Helvetica, sans-serif;

    .app-container{
        flex: 6;
        height: 100vh;

    }
 

    .title {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
    }

    .container-box{
        // display: flex;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 5px 20px;
        margin: 20px;
        // max-height: 300px;
        // width: 100%;
        // border: #2c5777 solid 1px;

    }
.overview{
    display: flex;
    .overview-container{
    flex: 6;
        
    .overview-title{
         flex: 6;
         display: flex;
         gap: 20px;
         padding: 5px 20px;
         .title-box{
            display: flex; 
            flex: 6;
            justify-content: space-between;
            align-items: center;

            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
               box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
               padding: 3px;

        }
                .headerTitle {
                 display: flex;
                
             }
    }
    .overview-top{
        display: flex;
        gap: 20px;
        padding: 5px 20px;

        .header-box{
            flex: 4;
             -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 10px;
                // color: blue;
            
            
        }
        .chart{
            flex: 2;
             -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            color: blue;
            max-height: 430px ;
        }
    }
}
    .overview-table{
    
        // .form-box{
        // display: flex;
        // // max-height: 50vh;
        // width: 100%;

        // div {
        //     display: flex;
        //     flex-direction: column;
        //     gap: 10px;
        //     margin-bottom: 15px;

        // }
        // }
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;
            
            
    }
}
    
button {
    background-color: grey;
    max-width: 100px;
    border-radius: 5px;
    margin-left: 5px;
    
}


    button {
        padding: 2px 5px;
      border-radius: 5px;
      background-color: #e1ecf4;
      color: #39739d;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
      
    }

    button:hover,
    button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
    }

    button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    }

    button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
    }
}