 .image {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }

    .companyMetrics{
                display: flex;
                font-size: 14px;
                color: gray;
                width: 100%;
                border-bottom: 1px solid black;
                margin: 0px 0px 30px;
                justify-content: space-between;
                ul {
                    margin: 0px;
                    margin-right: 15px;
                    padding: 0;
                    border: none;
                    list-style-type: none;
                }


            }
    .companyHeader{
                display: flex;
                margin-bottom: 10px;
                
                
                h1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .actions{
                  display: flex;
                    align-items: center;
                    margin-left: 15px;
                }
                .add-loan{
                  display: flex;
                  align-items: center;
                  width: 100%;
                  justify-content: flex-end;
                  margin-right: 10px;

                }
            }
       .listContainer {
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 20px;
          margin: 20px;
        .title {
          font-weight: 500;
          color: gray;
          margin-bottom: 15px;
          }
        }

.create-client-form {
  display: flex;
  flex-wrap: wrap
}

.create-client-item{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 20px;
  

    // label {
    //     margin-bottom: 10px;
    //     font-size: 14px;
    //     font-weight: 600;
    //     color: gray
    // }

    input {
        height: 35px;
        padding: 10px;
        border: solid gray 0.5px;
        border-radius: 5px;
        width: 100%;
        margin: 10px 0px 10px

    }
}

// .create-client-btn {
//   width: 200px;
//   border: none;
//   background-color: darkblue;
//   color: white;
//   padding: 7px 10px;
//   font-weight: 600;
//   border-radius: 10px;
//   margin-top: 30px;
//   cursor: pointer;
// }
