$base-text:  #525252;

.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: $base-text;
  height: 320px;
  max-width: 830px;

  .title {
    margin-bottom: 20px;
    font-weight: 500;

  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }

}
.label{
  font-size: 30px
}