// below should only be in certain size screen otherwise nothing will stack on top of each other
.dashboard-charts{
    display: flex;
    
    gap: 20px;
    padding: 5px 20px;
    height: 320px;

}     